* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}

.container {
  width: 490px;
  height: 360px;
  display: grid;
  grid-template-columns: 120px 360px;
  grid-template-rows: 360px;
  gap: 10px;
}

.grid > canvas {
  outline: 1px solid black;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.next-balls {
  display: flex;
  gap: 5px;
}

.next-ball {
  width: 20px;
  height: 20px;
  border: 1px solid black;
  border-radius: 50%;
}